%h1 Listing books
.search-box
  = render 'search_form'
.paginate.pull-right
  = "#{@total} results"
  - page = params[:page] || 1
  - next_page = page.to_i + 1
  - previous_page = page.to_i - 1

  - if previous_page > 0
    = link_to "Previous Page", search_path(params.merge(page: page.to_i - 1))
  = "Page #{page}"
  - if next_page <= (@total.to_f/Book::PER_PAGE).ceil
    = link_to "Next Page", search_path(params.merge(page: page.to_i + 1))
%table.table.table-striped
  %thead
    %tr
      %th Cover
      %th Title
      %th Author
      %th Subject
  %tbody
    - @books.each do |book|
      %tr
        %td= image_tag cover_picture(book), alt: book.title
        %td= link_to book.title, book_path(book.edition_key.first)
        %td= book.author_name.join(', ') if book.author_name.is_a? Array
        %td= book.subject.join(', ') if book.subject
